# GitHub OAuth
GITHUB_CLIENT_ID=your_client_id_here
GITHUB_CLIENT_SECRET=your_client_secret_here
GITHUB_REDIRECT_URI=http://localhost:8000/api/accounts/github/callback/

# Django Settings
SECRET_KEY=django-insecure-dev-key-change-in-production
DEBUG=True
FRONTEND_URL=http://localhost:5173

# Database (PostgreSQL)
DB_NAME=vulnops
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis & Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# SonarCloud (Optionnel)
SONAR_TOKEN=your_sonar_token_here
SONAR_ORG=your_sonar_org_here

# AI & LLM Settings
# Ollama : Utilisé en priorité (Installation Locale & Gratuit)
OLLAMA_API_URL=http://localhost:11434/api/chat
OLLAMA_MODEL=gemma4:31b-cloud

# OpenRouter : Utilisé comme plan de secours (Fallback) si Ollama est indisponible ou non configuré
OPENROUTER_API_KEY=your_key_here
OPENROUTER_MODEL=google/gemma-4-31b-it:free

# DefectDojo Settings
DEFECTDOJO_URL=http://localhost:8080
DEFECTDOJO_API_KEY=your_api_key_here
DEFECTDOJO_ENGAGEMENT_ID=1
